.spacer {
	background-color: #EBEBEB;
	display: block;
	height: 1px;
	margin: 40px 0;
	width: 100%;
}

.date-spacer {
	display: flex;
	align-items: center;

	&:before {
		content: "-";
		display: inline-block;
		width: 0;
		margin-left: -3px;
		margin-right: 3px;
	}
}
